


.ControlMode {
    .schematicRestraint,.public_body {
        user-select: none;

        .schematicRestraint_center,.public_page {
        

            .list_margin {
                margin: 1.94vw;

                .cneter_list {
                    width: 100%;

                    .list_top {
                        text-align: right;

                        span {
                            text-align: center;
                            display: inline-block;
                            width: 3vw;
                            height: 3.42vh;
                            line-height: 3.42vh;
                            background: #007edd;
                            border-radius: 2px;
                            font-size: 14px;
                            font-family: MicrosoftYaHei;
                            font-weight: 400;
                            color: #ffffff;
                            opacity: 0.8;
                            cursor: pointer;
                        }
                    }

                    .lists {
                        width: 100%;

                        .kongz_list {
                            width: 100%;
                            overflow-y: scroll;
                            height: 62vh;

                            .editingEquipment_green {
                                color: #00ff89;
                                cursor: pointer;
                            }

                            .editing_green {
                                color: rgba(95, 255, 0, 1);
                                cursor: pointer;
                            }

                            .del_red {
                                color: rgba(255, 59, 0, 1);
                                cursor: pointer;
                            }

                            .fenye {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

    }
}