
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #409EFF;
    background-color: transparent;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected:hover {
    color: #409EFF;
    background-color: transparent;
}

.fenye{
  text-align: right;
}
.el-select .el-tag__close.el-icon-close {
    background-color: transparent;
    top: -4px !important;
    color: #FFF;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.EquipmentSignal_tanchuang_ying_IP .tanchuang .tanchuang_bg .tanchuang_center .tanchuang_center_cen .InspectionPlan_add .InspectionPlan_add_cen_top li input {
    border-radius: 0;
    width: 12.5vw !important;
    height: 3vh;
    line-height: 3vh;
    background-color: rgba(0, 0, 0, 0);
    border: 0.0625rem solid #00f0ff;
    font-size: 0.875rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #ffffff;
    padding-left: 0.7vw;
}
.el-select__input{
    border-color: transparent;

}
.el-tag.el-tag--info {
    background-color: transparent !important;
    color: #909399;
}
.el-input__suffix {
    position: absolute;
    top: 10% !important;
    text-align: center;
}