.public_body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.public_body .alarmManagement_daohan {
  position: absolute;
  top: 20.19vh;
  left: 10vw;
}
.public_body .alarmManagement_daohan > ul {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.public_body .alarmManagement_daohan > ul > li {
  padding: 5.5px;
}
.public_body .alarmManagement_daohan > ul > li a {
  display: block;
  width: 32px;
  min-height: 42px;
  color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
}
.public_body .alarmManagement_daohan > ul > li .daohanactive {
  color: #00f0ff;
}
.public_body .alarmManagement_daohan > ul :nth-child(3) > a {
  border-bottom: none;
}
.public_body .WorkOrderQuery_cneter {
  color: #fff;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main {
  margin: 24px;
  opacity: 1;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top {
  height: 30px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li span, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li span {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .one_a, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .one_a {
  margin-left: 5px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .smallbluebutton, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .smallbluebutton {
  margin-right: 5px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00f0ff;
  color: #00f0ff;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  font-size: 14px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .selectFile_sub, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .selectFile_sub {
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 8px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .chaxun, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .chaxun {
  float: right;
  text-align: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #47d235;
  border-radius: 2px;
  cursor: pointer;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .shunline, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .shunline {
  padding: 0px 5px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .baojin_center_top ul li .vertical, .public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_top .WorkOrderQuery_center_top ul li .vertical {
  vertical-align: -webkit-baseline-middle;
  padding-left: 10px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_daochu {
  position: relative;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_daochu .daochu_right {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_daochu .daochu_right .chu {
  display: block;
  padding: 4px 10px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  background: #007edd;
  border-radius: 1px;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_zhon .WorkOrderQuery_main_list {
  height: 53.5vh;
  overflow: auto;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_zhon .WorkOrderQuery_main_list a {
  color: #fff;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_zhon .WorkOrderQuery_main_list .green {
  color: #60ff00;
  cursor: pointer;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_zhon .WorkOrderQuery_main_list .red {
  color: #ff3c00;
  cursor: pointer;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .WorkOrderQuery_main_zhon .WorkOrderQuery_main_list .changkan {
  color: rgb(245, 255, 0);
  cursor: pointer;
}
.public_body .WorkOrderQuery_cneter .public_page .WorkOrderQuery_main .fenye {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=WorkOrderQuery.css.map */