.UserSelf {
    user-select: none;

    .UserSelf_center {
        position: absolute;
        top: 11.31vh;
        left: 17.92vw;
        width: 64.17vw;
        height: 70.44vh;
        background: rgba(8, 1, 2, 0.6);
        border-radius: 10px;

        .Self {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 54.38%;
            height: 68.42%;
            background: rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.76),
                0px 0px 21px 0px rgba(0, 0, 0, 0.76);
            border-radius: 20px;

            .Self_top {
                margin-top: 2vh;
                width: 100%;
                text-align: center;

                span {
                    width: 81px;
                    height: 20px;
                    font-size: 20px;
                    font-family: MicrosoftYaHei;
                    font-weight: bold;
                    color: #00b4ed;
                    line-height: 42px;
                }
            }

            .Self_center {
                display: flex;
                margin: 23px 0;

                .center_left {
                    flex: 1;

                    ul {
                        margin-left: 58px;

                        li {
                            height: 30px;

                            .one {
                                display: inline-block;
                                width: 69px;
                                font-size: 14px;
                                font-family: MicrosoftYaHei;
                                font-weight: 400;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .center_right {
                    flex: 1;
                    position: relative;
                    width: 100%;

                    .center_right_ptot {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                        img {
                            width: 168px;
                            height: 198px;
                        }
                    }
                }
            }

            .Self_bottom {
                display: flex;
                justify-content: center;
                align-items: center;

                .bottom_butt {
                    span {
                        display: inline-block;
                        text-align: center;
                        margin: 0 15px;
                        padding: 4px 16px;
                        cursor: pointer;
                        background: #007edd;
                        border-radius: 2px;

                        font-size: 14px;
                        font-family: MicrosoftYaHei;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}