.Equipment {
    user-select: none;

    .Equipment_cneter {
        color: #fff;

        .EquipmentDanan {
          

            .content {
                margin: 24px;

                .Equipment_top {
                    opacity: 1;

                    ul {
                        display: flex;
                      

                        li {
                            display: flex;
                            align-items: center;
                            margin-right: 20px;

                            .Equipment_input {
                                width: 150px;
                                height: 3vh;
                                background: rgba(0, 0, 0, 0);
                                border: 1px solid rgba(255, 255, 255, 1);
                                padding-left: 5px;
                                color: #fff;
                            }

                            .withd_ {
                                width: 120px;
                            }

                            .Equipment_chaxun {
                                button {
                                    width: 100px;
                                    height: 3vh;
                                    background: #47d235;
                                    border-radius: 2px;
                                    font-size: 14px;
                                    font-family: MicrosoftYaHei;
                                    font-weight: 400;
                                    color: #ffffff;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .Equipment_top_top {
                    float: right;
                    margin-top: 5px;

                    ul {
                        height: 26px;
                        li {
                            button {
                                width: 50px;
                                height: 26px;
                                background: #007edd;
                                border-radius: 2px;
                                font-size: 14px;
                                font-family: MicrosoftYaHei;
                                font-weight: 400;
                                color: #ffffff;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .Equipment_center {
                    width: 100%;
                    overflow-y: scroll;
                    height: 57.8vh;

                    .editing_green {
                        color: rgba(95, 255, 0, 1);
                        cursor: pointer;
                    }

                    .red {
                        color: #ff3c00;
                        cursor: pointer;
                    }

                    .guanlian {
                        color: rgba(0, 255, 234, 1);
                        cursor: pointer;
                    }

                    .chakan {
                        color: rgba(246, 255, 0, 1);
                        cursor: pointer;
                    }
                }

                .Equipment_footer {
                    .fenye {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
